/ShippingForEveryoneProject/nbproject/private/
/ShippingForEveryoneProject/dist/
/ShippingForEveryoneProject/build/
/ShippingForEveryoneProject(DINH)/nbproject/private/
/ShippingForEveryoneProject(DINH)/build/
/ShippingForEveryoneProject(D)/dist/
